

h1{
    text-align: center;
}
ando
hr{
    background-color: black;
    text-align: center;
}

.gameboard {
    background-color: yellow;
    width: 300px;
    margin: 0 auto;
}

.row1, .row2, .row3 {
    
    height: 100px;
    width: 300px;
    display: flex;
}

.row1 div {
    border: 2px solid green;
    height: 100%;
    width: 33%
}


.row2 div {
    border: 2px solid green;
    height: 100%;
    width: 33%
}

.row3 div {
    border: 2px solid green;
    height: 100%;
    width: 33%
}

.cell1{
    ba
}